* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(15, 15, 15);
}

nav a {
  padding: 16px;
  text-decoration: none;
  color: white;
}
nav a:hover { background-color: rgb(25, 25, 25); }

main { margin-top: 53px; }

section { padding: 16px; }

h1, h2 { margin-bottom: 16px; }
h2 {
  font-size: 1.25rem;
  margin-top: 16px;
}

a {
  text-decoration: none;
  color: rgb(9, 132, 227);
}

.padding-x {
  padding-left: 16px;
  padding-right: 16px;
}

.margin-bottom { margin-bottom: 16px; }

.button {
  padding: 8px;
  background-color: rgb(9, 132, 227);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
.button:hover { opacity: 0.9; }

#projects-list { margin-bottom: -16px; }

.project {
  background-color: rgb(25, 25, 25);
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
}

.project-name {
  margin-bottom: 8px;
  font-size: 1.25rem;
}

.project-description {
  margin-bottom: 8px;
}

.project-skills {
  opacity: 0.75;
}